<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="shortcut icon" href="favicon.ico" />

  <!--meta content-->
  
  <meta name="author" content="Ruth John (@rumyra)">
  <meta name="dcterms.rightsHolder" content="Built by Ruth John, United Kingdom, 2015">
  <title>MIDI Demos | Rumyra</title>
  <meta name="description" content="">

  <link type="text/css" href="app.css" rel="stylesheet" media="screen" />
  
  <!--include if you want modenizr (rest of scripts just before </body>)
  <script src="js/vendor/modernizr-2.6.2.min.js"></script>
  -->
  <script src="scripts/Tone.min.js"></script>
  <script src="scripts/StartAudioContext.js"></script>
  
</head>

<body>
<div class="wrapper page-synth">
<a id="url-join" href="{{JOIN_URL}}">{{JOIN_URL}}</a>

<section class="minim" id="minim-main">
  <h2>minim</h2>
  <div class="buttons">
    <button data-state="off"></button>
    <button data-state="off"></button>
    <button data-state="off"></button>
    <button data-state="off"></button>
    <button data-state="off"></button>
    <button data-state="off"></button>
    <button data-state="off"></button>
    <button data-state="off"></button>
  </div>
</section>


</div>
<script type="text/javascript" src="app.js"></script>

<script type="text/javascript">
  
  //the notes
  var noteNames = ["beep", "chirp", "crash", "curve", "ding", "hihat", "kick", "punch", "shadow", "snare", "symbol"];
  var buttons = document.querySelectorAll('.buttons button');

  var SEQUENCE_SIZE = buttons.length;

  var mainSequence = [];
  var sequenceStore = [];

  function setButtonState() {
    var buttonEl = this;

    if (buttonEl.dataset.state === "off") {
      buttonEl.dataset.state = "on";
      sequenceStore[parseInt(buttonEl.dataset.number)] = 'C5';
    } else {
      buttonEl.dataset.state = "off";
      sequenceStore[parseInt(buttonEl.dataset.number)] = null;
    }
  }

  //setup a polyphonic sampler
  var keys = new Tone.MultiPlayer({
    urls : {
      "beep" : "./sounds/beep.wav",
      "chirp" : "./sounds/chirp.wav",
      "crash" : "./sounds/crash.wav",
      "curve" : "./sounds/curve.wav",
      "ding" : "./sounds/ding.wav",
      "hihat" : "./sounds/hihat.wav",
      "kick" : "./sounds/kick.wav",
      "punch" : "./sounds/punch.wav",
      "shadow" : "./sounds/shadow.wav",
      "snare" : "./sounds/snare.wav",
      "symbol" : "./sounds/symbol.wav",
    },
    volume : -5,
    fadeOut : 0.1,
  }).toMaster();
  
  // init mainSequence & sequenceStore
  for(var i=0; i < SEQUENCE_SIZE; i++) {
    sequenceStore[i] = null;
    mainSequence[i] = i;
  }

  // init buttons
  [].forEach.call(buttons, function(button, idx) {
    button.addEventListener('click', setButtonState, false);
    button.dataset.number = idx;
  });

  var loop = new Tone.Sequence(function(time, col) {
      if(sequenceStore[col] !== null) {
        //slightly randomized velocities
        var vel = Math.random() * 0.5 + 0.5;
        keys.start(noteNames[i], time, 0, "16n", 0, vel);
      }

      [].forEach.call(buttons, function(button) {
        button.classList.remove('current');
      });

      if(parseInt(buttons[col].dataset.number) === col) {
        buttons[col].classList.add('current');
      }

  }, mainSequence, "8n");

  Tone.Transport.start();
  loop.start();

</script>

</body>
</html>