<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="shortcut icon" href="favicon.ico" />

  <!--meta content-->
  
  <meta name="author" content="Ruth John (@rumyra)">
  <meta name="dcterms.rightsHolder" content="Built by Ruth John, United Kingdom, 2015">
  <title>MIDI Demos | Rumyra</title>
  <meta name="description" content="">

  <link type="text/css" href="app.css" rel="stylesheet" media="screen" />
  
  <!--include if you want modenizr (rest of scripts just before </body>)
  <script src="js/vendor/modernizr-2.6.2.min.js"></script>
  -->
  <script src="scripts/Tone.min.js"></script>
  <script src="scripts/StartAudioContext.js"></script>
  <script src="scripts/pusher.min.js"></script>
  
</head>

<body>
<div class="wrapper page-synth">
<a id="url-join" href="{{JOIN_URL}}">{{JOIN_URL}}</a>

<section class="minim" id="minim-main">
  <div class="buttons">
    <button data-state="off"></button>
    <button data-state="off"></button>
    <button data-state="off"></button>
    <button data-state="off"></button>
    <button data-state="off"></button>
    <button data-state="off"></button>
    <button data-state="off"></button>
    <button data-state="off"></button>
  </div>
</section>

<section class="minim" id="minim-main2">
  <div class="buttons">
    <button data-state="off"></button>
    <button data-state="off"></button>
    <button data-state="off"></button>
    <button data-state="off"></button>
    <button data-state="off"></button>
    <button data-state="off"></button>
    <button data-state="off"></button>
    <button data-state="off"></button>
  </div>
</section>


</div>
<div id="pusher" data-key="{{PUSHKEY}}" data-thisurl="{{THIS_URL}}"></div>
<script type="text/javascript" src="app.js"></script>

<script type="text/javascript">

  // pusher
  var pushConfig = document.getElementById('pusher').dataset;
  var pusher = new Pusher(pushConfig.key, {encrypted:true});
  Pusher.channel_auth_endpoint = pushConfig.thisurl+'/pusher/auth';
  pusher.connection.bind('state_change', function(states) {
      console.log("Pusher's current state is " + states.current);
  });
  // subscribe to channel
  var channel = pusher.subscribe('presence-stepSeq_channel');

  // vars
  var noteNames = ["beep", "chirp", "crash", "curve", "ding", "hihat", "kick", "punch", "shadow", "snare", "symbol"],
    SEQUENCE_SIZE = 8,
    mainSequence = [],
    sequences = {},
    wrapper = document.querySelector('.wrapper');

  function setButtonState(store, button) {
    var buttonEl = button;

    if (buttonEl.dataset.state === "off") {
      buttonEl.dataset.state = "on";
      store[parseInt(buttonEl.dataset.number)] = 'C5';
    } else {
      buttonEl.dataset.state = "off";
      store[parseInt(buttonEl.dataset.number)] = null;
    }
  }

  function updateMinimViewByUID(uid) {
    var minim = document.getElementById(uid);
    var buttons = minim.querySelectorAll('button');
    var sequence = sequences[uid];

    sequence.forEach(function(step, idx) {
      var button = buttons[idx];

      if(step === null) {
        button.dataset.state = "off";
      } else {
        button.dataset.state = "on";
      }
    });
  }

  function createMinim(uid) {
    // Clone DOM elements
    var masterMinim = document.getElementById('minim-main');
    var dupMinim = masterMinim.cloneNode(true);
    dupMinim.setAttribute('id', uid);

    // Use UID to make a sequence store for the user
    sequences[uid] = new Array(SEQUENCE_SIZE);

    //initialise the sequence
    for(var i=0; i < SEQUENCE_SIZE; i++) {
      sequences[uid][i] = null;
    }

    return dupMinim;
  }

  // when a user joins add a new minim
  channel.bind('pusher:member_added', function(member) {
    console.log('theres a new member -' + member.id);
    var newMinim = createMinim(member.id);
    wrapper.appendChild(newMinim);
  });

  // when they press stuff do update the right sequencer
  channel.bind('client-buttonPressed', function(data) {
    sequences[data.user_id] = data.sequenceStore;
    updateMinimViewByUID(data.user_id);
  });

  // when a user disconnects remove minim
  channel.bind('pusher:member_removed', function(member) {
    var remMinim = document.getElementById(member.id);
    if(remMinim) remMinim.parentNode.removeChild(remMinim);
    delete sequences[member.id];
  });


  var buttons = document.querySelectorAll('#minim-main .buttons button');
  var buttons2 = document.querySelectorAll('#minim-main2 .buttons button');
  

  // probs don't need
  // function randomIntFromInterval(min, max) {
  //   return Math.floor(Math.random() * (max - min + 1) + min);
  // }

  //setup a polyphonic sampler
  var keys = new Tone.MultiPlayer({
    urls : {
      "beep" : "./sounds/beep.wav",
      "chirp" : "./sounds/chirp.wav",
      "crash" : "./sounds/crash.wav",
      "curve" : "./sounds/curve.wav",
      "ding" : "./sounds/ding.wav",
      "hihat" : "./sounds/hihat.wav",
      "kick" : "./sounds/kick.wav",
      "punch" : "./sounds/punch.wav",
      "shadow" : "./sounds/shadow.wav",
      "snare" : "./sounds/snare.wav",
      "symbol" : "./sounds/symbol.wav",
    },
    volume : -5,
    fadeOut : 0.1,
  }).toMaster();

  
  
  
  // init mainSequence & sequenceStore
  // for(var i=0; i < SEQUENCE_SIZE; i++) {
  //   sequenceStore[i] = null;
  //   sequenceStore2[i] = null;
  //   // so we don't have to write it
  // }

  // init buttons
  [].forEach.call(buttons, function(button, idx) {
    button.addEventListener('click', function() {
      setButtonState(sequenceStore, button);
    }, false);
    button.dataset.number = idx;
  });

  // init buttons2
  [].forEach.call(buttons2, function(button, idx) {
    button.addEventListener('click', function() {
      setButtonState(sequenceStore2, button);
    }, false);
    button.dataset.number = idx;
  });

  var loop = new Tone.Sequence(function(time, col) {
      // loop over all client sequences
      try {
        for(var key in sequences) {
          var sequence = sequences[key];
          var minim = document.getElementById(key);
          var buttons = minim.querySelectorAll('button');

          if(sequence[col] !== null) {
            //slightly randomized velocities
            var vel = Math.random() * 0.5 + 0.5;
            keys.start(noteNames[9], time, 0, "16n", 0, vel);
          }

          [].forEach.call(buttons, function(button) {
            button.classList.remove('current');
          });

          buttons[col].classList.add('current');
        }
      } catch(e) {
        // do nothing :^)
      }

      /*if(sequenceStore[col] !== null) {
        //slightly randomized velocities
        var vel = Math.random() * 0.5 + 0.5;
        keys.start(noteNames[6], time, 0, "16n", 0, vel);
      }

      if(sequenceStore2[col] !== null) {
        //slightly randomized velocities
        var vel = Math.random() * 0.5 + 0.5;
        keys.start(noteNames[9], time, 0, "16n", 0, vel);
      }

      [].forEach.call(buttons, function(button) {
        button.classList.remove('current');
      });

      [].forEach.call(buttons2, function(button) {
        button.classList.remove('current');
      });

      
      buttons[col].classList.add('current');
      buttons2[col].classList.add('current');*/

  }, [0, 1, 2, 3, 4, 5, 6, 7], "8n");

  Tone.Transport.start();
  loop.start();

</script>

</body>
</html>