<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="shortcut icon" href="favicon.ico" />

  <!--meta content-->
  
  <meta name="author" content="Ruth John (@rumyra)">
  <meta name="dcterms.rightsHolder" content="Built by Ruth John, United Kingdom, 2015">
  <title>MIDI Demos | Rumyra</title>
  <meta name="description" content="">

  <link type="text/css" href="app.css" rel="stylesheet" media="screen" />
  
  <!--include if you want modenizr (rest of scripts just before </body>)
  <script src="js/vendor/modernizr-2.6.2.min.js"></script>
  -->
  
</head>

<body>
<div class="wrapper page-minim">

<div id="form-name">
  <form method="post" action="/" class="form-small">
    <fieldset><legend>Hello, what's your name?</legend>
      <div class="form-field">
        <label for="input-name">Name</label>
        <input type="text" name="input-name" id="input-name" placeholder="Brian Eno" />
      </div>
      <input type="submit" value="Let's Go!" />
    </fieldset>
  </form>
</div>

<div id="minim-show">
  <p>Hi 'name here', you're the 'track here' track! See yourself on the big screen and press below to play your sound.</p>

  <section class="minim">
    <div class="buttons">
      <button></button>
      <button></button>
      <button></button>
      <button></button>
      <button></button>
      <button></button>
      <button></button>
      <button></button>
    </div>
  </section>
</div>


</div>
<script type="text/javascript" src="app.js"></script>

<script type="text/javascript">
  //setup a polyphonic sampler
    var keys = new Tone.MultiPlayer({
      urls : {
        "A" : "./audio/casio/A1.mp3",
        "C#" : "./audio/casio/Cs2.mp3",
        "E" : "./audio/casio/E2.mp3",
        "F#" : "./audio/casio/Fs2.mp3",
      },
      volume : -10,
      fadeOut : 0.1,
    }).toMaster();
    //the notes
    var noteNames = ["F#", "E", "C#", "A"];
    var loop = new Tone.Sequence(function(time, col){
      var column = matrix1.matrix[col];
      for (var i = 0; i < 4; i++){
        if (column[i] === 1){
          //slightly randomized velocities
          var vel = Math.random() * 0.5 + 0.5;
          keys.start(noteNames[i], time, 0, "32n", 0, vel);
        }
      }
    }, [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15], "16n");
    Tone.Transport.start();

  
</script>

</body>
</html>