<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="shortcut icon" href="favicon.ico" />

  <!--meta content-->
  
  <meta name="author" content="Ruth John (@rumyra)">
  <meta name="dcterms.rightsHolder" content="Built by Ruth John, United Kingdom, 2015">
  <title>MIDI Demos | Rumyra</title>
  <meta name="description" content="">

  <link type="text/css" href="app.css" rel="stylesheet" media="screen" />
  
  <!--include if you want modenizr (rest of scripts just before </body>)
  <script src="js/vendor/modernizr-2.6.2.min.js"></script>
  -->
  
</head>

<body>
<div class="wrapper page-piano">

  <section id="midi-data">
    <h2>Visual</h2>
    <h2>Hex</h2>
    <h2>Data</h2>
  </section>

  <!--<div class="instrument" id="keyboard">
    <b class="key-af" data-note="56">Ab</b>
    <i class="key-a" data-note="57">A</i>
    <b class="key-bf" data-note="58">Bb</b>
    <i class="key-b" data-note="59">B</i>
    <i class="key-c" data-note="60">C</i>
    <b class="key-cs" data-note="61">C#</b>
    <i class="key-d" data-note="62">D</i>
    <b class="key-ef" data-note="63">Eb</b>
    <i class="key-e" data-note="64">E</i>
    <i class="key-f" data-note="65">F</i>
    <b class="key-fs" data-note="66">F#</b>
    <i class="key-g" data-note="67">G</i>
    <b class="key-af" data-note="68">Ab</b>
    <i class="key-a" data-note="69">A</i>
    <b class="key-bf key-last" data-note="70">Bb</b>
  </div><!--instrument-->
<p class="creds">Made by <a href="">@rumyra</a></p>
</div>

<script type="text/javascript" src="app.js"></script>

<script type="text/javascript">

  // var keyboard = document.querySelector('#keyboard'),
  var animScreen = document.querySelector('#midi-data'),
    decoder = new TextDecoder();
    
  // TODO refactor both PianoAnim and MIDIanim to use the same object - there's a lot of repetition, I copied and pasted, sorry myself
  function PianoAnim(screenDiv) {
    this.screen = screenDiv;
  }

// key range 30-90
  PianoAnim.prototype.displayDataEl = function(keyEl) {
    this.note = keyEl.dataset.note;
    this.midiData = '[144,'+this.note+',64]';
    this.left = keyEl.offsetLeft;
    this.dataEl = this.createDataEl(this.midiData, this.left, this.note);
    this.screen.appendChild(this.dataEl);
    this.changeDataToEmoji(this.dataEl, this.note);
    this.changeEmojiToBall(this.dataEl);
  };

  PianoAnim.prototype.changeDataToEmoji = function(pEl, note) {
    var para = pEl;
    var emoji = this.encodeData(note);
    var firstMorph = setTimeout(function() {
      para.textContent = emoji;
      para.classList = 'emoji';
      para.style.textShadow = '2px 2px 5px hsla('+( Math.floor(Math.pow(note,2)/24) )+',50%,50%,1), -2px -2px 5px hsla('+( Math.floor(Math.pow(note,2)/24) )+',50%,50%,1)'
    }, 2000);
    
  } 

  PianoAnim.prototype.createDataEl = function(text,left,note) {
    var dataEl = document.createElement('p');
    dataEl.textContent = text;
    dataEl.classList = 'data';
    dataEl.style.left = (left-30)+'px';
    dataEl.style.color = 'hsla('+( Math.floor(Math.pow(note,2)/24) )+',50%,50%,1)';
    return dataEl;
  }

  PianoAnim.prototype.encodeData = function(note) {
    // thank you Max!
    var a = 144 + 96; // 144 = MIDI noteOn
    var b = 159; // magical part for this range of emoji
    var c = parseInt(this.note,10) + 85; // Puts us in the correct range
    var d = 128; // More emoji range magic

    var onArray = new Uint8Array([a, b, c, d]);
    // var emoji = document.createTextNode(decoder.decode(onArray));
    var emoji = decoder.decode(onArray, {stream: true});
    return emoji;
  }

  PianoAnim.prototype.changeEmojiToBall = function(pEl) {
    var para = pEl;
    var secondMorph = setTimeout(function() {
      para.innerHTML = '<span>*</span><span>*</span><span>*</span><span>*</span><span>*</span><span>*</span><span>*</span><span>*</span><span>*</span><span>*</span><span>*</span><span>*</span>';
      para.classList = 'firework';
      animateFirework(para);
    }, 4000);
  }

  var anim = new PianoAnim(animScreen);

  // keyboard.addEventListener("click", function(event) {
  //   if (event.target.nodeName == "I" || "B")
  //     console.log("Clicked", event.target);
  //     anim.displayDataEl(event.target);
  // });

  function animateFirework(paraEl) {
    var spans = paraEl.getElementsByTagName('span');
    console.log(spans);
    for (var i=0; i<spans.length; i++) {
      // spans[i].style.transform = 'rotate('+i*30+'deg) translate(150px, 150px)';
      spans[i].animate(
        [{transform: 'rotate('+i*30+'deg) translate(0px, 0px)', opacity: '1'},
        {transform: 'rotate('+((i*30)+60)+'deg) translate(100px, 100px)', opacity: '0'}],
        {
          duration: 1000,
          iterations: 1
        }
      )
    }
  }


// MIDI CONTROLLER----------------------------
function MIDIAnim(screenDiv) {
  this.screen = screenDiv;
}

MIDIAnim.prototype.displayDataEl = function(midiData) {
  this.newMidiData = midiData;
  this.midiDataString = "["+midiData[0]+","+midiData[1]+","+midiData[2]+"]";
  this.note = midiData[1];
  this.left = this.note;
  this.dataEl = this.createDataEl(this.midiDataString, this.left, this.note);
  this.screen.appendChild(this.dataEl);
  this.changeDataToEmoji(this.dataEl, this.newMidiData);
  this.changeEmojiToBall(this.dataEl);
};

MIDIAnim.prototype.createDataEl = function(text,left,note) {
  var dataEl = document.createElement('p');
  dataEl.textContent = text;
  dataEl.classList = 'data';
  dataEl.style.left = Math.floor(1.5*(left-30))+'%';

  dataEl.style.color = 'hsla('+( Math.floor(Math.pow(note,2)/24) )+',50%,50%,1)';
  return dataEl;
}

MIDIAnim.prototype.changeDataToEmoji = function(pEl, noteData) {
  var para = pEl;
  var emoji = this.encodeData(noteData);
  var firstMorph = setTimeout(function() {
    para.textContent = emoji;
    para.classList = 'emoji';
    para.style.textShadow = '2px 2px 5px hsla('+( Math.floor(Math.pow(noteData[1],2)/24) )+',50%,50%,1), -2px -2px 5px hsla('+( Math.floor(Math.pow(noteData[1],2)/24) )+',50%,50%,1)'
  }, 2000);
}

MIDIAnim.prototype.encodeData = function(someData) {
  this.someData = someData;
  // thank you Max!
  if (this.someData[0] === 144) {
    var a = this.someData[0] + 96; // 144 = MIDI noteOn
  } else {
    var a = this.someData[0] + 112; // 144 = MIDI noteOn
  }
  var b = 159; // magical part for this range of emoji
  var c = this.someData[1] + 85; // Puts us in the correct range
  var d = 128; // More emoji range magic

  var onArray = new Uint8Array([a, b, c, d]);
  // var emoji = document.createTextNode(decoder.decode(onArray));
  var emoji = decoder.decode(onArray, {stream: true});
  return emoji;
}

MIDIAnim.prototype.changeEmojiToBall = function(pEl) {
  var para = pEl;
  var secondMorph = setTimeout(function() {
    para.innerHTML = '<span>*</span><span>*</span><span>*</span><span>*</span><span>*</span><span>*</span><span>*</span><span>*</span><span>*</span><span>*</span><span>*</span><span>*</span>';
    para.classList = 'firework';
    animateFirework(para);
  }, 4000);
}


var midi, data;
// start talking to MIDI controller
if (navigator.requestMIDIAccess) {
  navigator.requestMIDIAccess({
    sysex: false
  }).then(onMIDISuccess, onMIDIFailure);
} else {
  console.warn("No MIDI support in your browser")
}

// on success
function onMIDISuccess(midiData) {
  // this is all our MIDI data
  midi = midiData;
  var allInputs = midi.inputs.values();
  // loop over all available inputs and listen for any MIDI input
  for (var input = allInputs.next(); input && !input.done; input = allInputs.next()) {
    // when a MIDI value is received call the onMIDIMessage function
    input.value.onmidimessage = gotMIDImessage;
  }
}
var midiAnim = new MIDIAnim(animScreen);
function gotMIDImessage(messageData) {
  midiAnim.displayDataEl(messageData.data);
}


function onMIDIFailure() {
  console.warn("Check the freakin connection!! It's always the connection 🙄");
}

</script>

</body>
</html>