<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="shortcut icon" href="favicon.ico" />

  <!--meta content-->
  
  <meta name="author" content="Ruth John (@rumyra)">
  <meta name="dcterms.rightsHolder" content="Built by Ruth John, United Kingdom, 2015">
  <title>MIDI Demos | Rumyra</title>
  <meta name="description" content="">

  <link type="text/css" href="app.css" rel="stylesheet" media="screen" />
  
  <!--include if you want modenizr (rest of scripts just before </body>)
  <script src="js/vendor/modernizr-2.6.2.min.js"></script>
  -->
  <style type="text/css">
    body > div > div[class^="page-"] {display: none;}
    body > div > div.page-contact {display: flex;}
  </style>
</head>

<body>
<div class="wrapper page-piano">

  <section id="midi-data">
    <h2>Visual</h2>
    <h2>Hex</h2>
    <h2>Data</h2>
  </section>

  <div class="instrument" id="keyboard">
    <b class="key-af" data-note="56">Ab</b>
    <i class="key-a" data-note="57">A</i>
    <b class="key-bf" data-note="58">Bb</b>
    <i class="key-b" data-note="59">B</i>
    <i class="key-c" data-note="60">C</i>
    <b class="key-cs" data-note="61">C#</b>
    <i class="key-d" data-note="62">D</i>
    <b class="key-ef" data-note="63">Eb</b>
    <i class="key-e" data-note="64">E</i>
    <i class="key-f" data-note="65">F</i>
    <b class="key-fs" data-note="66">F#</b>
    <i class="key-g" data-note="67">G</i>
    <b class="key-af" data-note="68">Ab</b>
    <i class="key-a" data-note="69">A</i>
    <b class="key-bf key-last" data-note="70">Bb</b>
  </div><!--instrument-->

</div>
<p class="creds">Made by <a href="">@rumyra</a></p>
<script type="text/javascript" src="app.js"></script>

<script type="text/javascript">

  var keyboard = document.querySelector('#keyboard'),
    animScreen = document.querySelector('#midi-data');
    

  function PianoAnim(screenDiv) {
    this.screen = screenDiv;
  }

// key range 30-90
  PianoAnim.prototype.displayDataEl = function(keyEl) {
    this.note = keyEl.dataset.note;
    this.midiData = '[144,'+this.note+',64]';
    this.left = keyEl.offsetLeft;
    this.dataEl = this.createDataEl(this.midiData, this.left, this.note);
    this.screen.appendChild(this.dataEl);
    this.changeDataToEmoji(this.dataEl, this.note);
  };

  PianoAnim.prototype.changeDataToEmoji = function(pEl, note) {
    this.para = pEl;
    this.emoji = this.encodeData(note);
    this.para.textContent = this.emoji;
  }

  PianoAnim.prototype.createDataEl = function(text,left,note) {
    var dataEl = document.createElement('p');
    dataEl.textContent = text;
    dataEl.style.left = (left-30)+'px';
    dataEl.style.color = 'hsla('+( Math.floor(Math.pow(note,2)/24) )+',50%,50%,1)';
    return dataEl;
  }

  PianoAnim.prototype.encodeData = function(note) {
    var decoder = new TextDecoder();
    var byteArray = new Uint8Array([144,note,64]);
    var emoji = decoder.decode(byteArray,{stream:true});
    return emoji;
  }

  var anim = new PianoAnim(animScreen);

  keyboard.addEventListener("click", function(event) {
    if (event.target.nodeName == "I" || "B")
      console.log("Clicked", event.target);
      anim.displayDataEl(event.target);
  });

</script>

</body>
</html>