<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="shortcut icon" href="favicon.ico" />

  <!--meta content-->
  
  <meta name="author" content="Ruth John (@rumyra)">
  <meta name="dcterms.rightsHolder" content="Built by Ruth John, United Kingdom, 2015">
  <title>MIDI Demos | Rumyra</title>
  <meta name="description" content="">

  <link type="text/css" href="style.css" rel="stylesheet" media="screen" />
  
  <!--include if you want modenizr (rest of scripts just before </body>)
  <script src="js/vendor/modernizr-2.6.2.min.js"></script>
  -->
  <style type="text/css">
    body > div > div[class^="page-"] {display: none;}
    body > div > div.page-contact {display: flex;}
  </style>
</head>

<body>
<div class="wrapper page-piano">

  <section id="midi-data">
    <ul></ul>
  </section>

  <div class="instrument" id="keyboard">
    <section id="octave">
      <b class="key-af" data-note="56">Ab</b>
      <i class="key-a" data-note="57">A</i>
      <b class="key-bf" data-note="58">Bb</b>
      <i class="key-b" data-note="59">B</i>
      <i class="key-c" data-note="60">C</i>
      <b class="key-cs" data-note="61">C#</b>
      <i class="key-d" data-note="62">D</i>
      <b class="key-ef" data-note="63">Eb</b>
      <i class="key-e" data-note="64">E</i>
      <i class="key-f" data-note="65">F</i>
      <b class="key-fs" data-note="66">F#</b>
      <i class="key-g" data-note="67">G</i>
      <b class="key-af" data-note="68">Ab</b>
      <i class="key-a" data-note="69">A</i>
      <b class="key-bf key-last" data-note="70">Bb</b>
    </section>
  </div><!--instrument-->

</div>
<script type="text/javascript" src="app.js"></script>
</body>
</html>