html, body, div, span, applet, object, iframe,
header, hgroup, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, time,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
figure, figcaption, video, audio, img,
fieldset, form, label, legend, input, button, select,
table, caption, tbody, tfoot, thead, tr, th, td,
section, article, canvas, nav, footer, aside,
figure {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
}
/* legacy - for browsers who struggle with html5 elements*/
section, article, aside, footer, nav, header, hgroup, details, figure, figcaption, summary { display: block; }
audio, canvas, video { display: inline-block; }
/*Prevents iOS text size adjust after orientation change, without disabling user zoom.*/
html { -webkit-text-size-adjust: 100%; }
/* legacy support */
[hidden] { display: none; }
body {
  overflow: auto; padding: 1.5em;
  background-color: #222;
  font-family: sans-serif;
  font-size: 100%;
  color: #aaa;
  line-height: 1.4;
}
a {color: #aaa;}
a:hover {text-decoration: none;}
.page-index {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around
}
.page-index a {
    display: block;
    width: 30%;
    margin: 20px auto;
    padding: 1.5em;
    background-color: #333;
    background: -webkit-linear-gradient(70deg, #333, #222);
    background: linear-gradient(20deg, #333, #222);
    border: 1px solid #aaa;
    border-radius: 1px;
    box-shadow: 0px 0px 1.5em #111;
    color: #aaa;
    text-decoration: none;
    text-align: center;
}
.page-index a:hover {
    background: -webkit-linear-gradient(70deg, #222, #333);
    background: linear-gradient(20deg, #222, #333);
}
.page-piano {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column;
}
#midi-data {
  height: 80vh; border:1px solid green;
  position: relative
}
#midi-data p {
    position: absolute;
    bottom: 1.5em;
}
#keyboard {
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch;
  border: 1px solid #aaa
  /*.key-last {position:absolute; top:0px; right:0px;}*/
}
#keyboard i, #keyboard b {
    display: inline-block;
    position: relative;
    z-index: 5;
    color: transparent;
}
#keyboard i {
    width: 34px;
    /*height:176px;*/
    background: white;
    border: 1px solid #222;
    border-left-width: 0px;
}
#keyboard b {
    z-index: 10;
    width: 26px;
    /*height:104px;*/
    margin: 0px -15px;
    background: black;
    box-shadow: 1px 1px darkgrey;
}
.minim {
  padding: 1.5em;
  background-color: #333;
  background: -webkit-linear-gradient(70deg, #333, #222);
  background: linear-gradient(20deg, #333, #222);
  border: 1px solid #aaa;
  border-radius: 1px;
  box-shadow: 0px 0px 1.5em #111
}
.minim h2 {
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: rotate(-90deg) translateX(-120px) translateY(-40px);
            transform: rotate(-90deg) translateX(-120px) translateY(-40px);
}
.minim .buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.minim button {
    height: 6em;
    width: 6em;
    margin: 0.75em;
    background-color: hsla(340, 70%, 60%, 0.9);
    background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.19999999999999996) 10%, transparent 30%),
      -webkit-linear-gradient(left, rgba(255, 255, 255, 0.19999999999999996) 10%, transparent 30%),
      -webkit-linear-gradient(top, rgba(255, 255, 255, 0.19999999999999996) 10%, transparent 30%),
      -webkit-linear-gradient(right, rgba(255, 255, 255, 0.19999999999999996) 10%, transparent 30%);
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.19999999999999996) 10%, transparent 30%),
      linear-gradient(90deg, rgba(255, 255, 255, 0.19999999999999996) 10%, transparent 30%),
      linear-gradient(180deg, rgba(255, 255, 255, 0.19999999999999996) 10%, transparent 30%),
      linear-gradient(270deg, rgba(255, 255, 255, 0.19999999999999996) 10%, transparent 30%);
    box-shadow: 1px 1px 1.5em #111;
    border: 1px solid #111;
    border-radius: 1px;
}
.minim button[data-state="on"] {
    background-color: hsla(340, 70%, 80%, 0.9);
}
.minim button.current {
    box-shadow: inset 0 0 1.5em white;
}
.page-synth {
  .info {
    padding: 1.5em;
    background-color: rgba(51, 51, 51, 0.8);
    background: -webkit-linear-gradient(70deg, rgba(51, 51, 51, 0.9), rgba(34, 34, 34, 0.8));
    background: linear-gradient(20deg, rgba(51, 51, 51, 0.9), rgba(34, 34, 34, 0.8));
    border: 1px solid rgba(170, 170, 170, 0.8);
    border-radius: 1px;
    box-shadow: 0px 0px 1.5em #111;
  }
  
}
.page-synth .buttons {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
}
.page-minim {
}
.page-minim .minim {
    width: 21em;
}
.page-minim .buttons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}




