html, body, div, span, applet, object, iframe,
header, hgroup, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, time,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
figure, figcaption, video, audio, img,
fieldset, form, label, legend, input, button, select,
table, caption, tbody, tfoot, thead, tr, th, td,
section, article, canvas, nav, footer, aside,
figure {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
}
/* legacy - for browsers who struggle with html5 elements*/
section, article, aside, footer, nav, header, hgroup, details, figure, figcaption, summary { display: block; }
audio, canvas, video { display: inline-block; }
/*Prevents iOS text size adjust after orientation change, without disabling user zoom.*/
html { -webkit-text-size-adjust: 100%; }
/* legacy support */
[hidden] { display: none; }

:root {
  --lightGrey: #aaa;
  --darkGrey: #222;
  --lessDarkGrey: #333;
  --white: #efefef;
  --black: #111;
  --unit: 1.5em;

  --interface: {
    background-color:var(--lessDarkGrey);
    background: linear-gradient(20deg, var(--lessDarkGrey), var(--darkGrey));
    border:1px solid var(--lightGrey); border-radius:1px;
    box-shadow: 0px 0px 1.5em var(--black);
  };

  --info: {
    padding: var(--unit);
    background-color: color(var(--lessDarkGrey) alpha(-20%));
    background: linear-gradient(20deg, color(var(--lessDarkGrey) alpha(-10%)), color(var(--darkGrey) alpha(-20%)));
    border:1px solid color(var(--lightGrey) alpha(-20%)); border-radius:1px;
    box-shadow: 0px 0px 1.5em var(--black);
  }

  --padStyle: {
    background-color: hsla(340, 70%, 60%, 0.9);
    background-image:
      linear-gradient(0deg, color(white alpha(-80%)) 10%, transparent 30%),
      linear-gradient(90deg, color(white alpha(-80%)) 10%, transparent 30%),
      linear-gradient(180deg, color(white alpha(-80%)) 10%, transparent 30%),
      linear-gradient(270deg, color(white alpha(-80%)) 10%, transparent 30%);
    box-shadow: 1px 1px 1.5em var(--black);
    border:1px solid var(--black); border-radius:1px;
  }
}

body {
  overflow: auto; padding: var(--unit);
  box-sizing: border-box;
  background-color: var(--darkGrey);
  font-family: sans-serif;
  font-size: 100%;
  color: var(--lightGrey);
  line-height: 1.4;
}
a {color: var(--lightGrey);}
a:hover {text-decoration: none;}

.page-index {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  & a {
    display: block; width: 30%;
    margin: 20px auto; padding: var(--unit);
    @apply --interface;
    color: var(--lightGrey); text-decoration: none; text-align: center;
  }
  & a:hover {background: linear-gradient(20deg, var(--darkGrey), var(--lessDarkGrey));}
}

/*-----------------------------*/
.page-piano {
  /*height: 96vh;*/
  display: flex; flex-direction: column;
}
#midi-data {
  height: 90vh; border:1px solid green;
  position: relative;
  & h2 {margin-bottom:30%;}
  & p {
    position: absolute; bottom: var(--unit);
  }
}
#keyboard {
  height: 20vh;
  display: flex; justify-content: center; align-items: stretch;
  border:1px solid var(--lightGrey);
  & i, & b {
    display:inline-block;
    position:relative; z-index:5;
    color: transparent;
  }
  & i {
    width:34px; /*height:176px;*/
    background:white;
    border:1px solid var(--darkGrey);
    border-left-width: 0px;
  }
  & b {
    z-index:10;
    width:26px; /*height:104px;*/
    margin:0px -15px;
    background:black;
    box-shadow:1px 1px darkgrey;
  }
  /*.key-last {position:absolute; top:0px; right:0px;}*/
}

/*-------------------------------*/
.minim {
  padding: var(--unit);
  @apply --interface;
  & h2 {
    transform-origin: 0 0;
    transform:rotate(-90deg) translateX(-120px) translateY(-40px);
  }
  & .buttons {
    display: flex; justify-content: space-around;
  }
  & button {
    height: calc(var(--unit)*4); width: calc(var(--unit)*4);
    margin:calc(var(--unit)/2);
    @apply --padStyle;
  }
  & button[data-state="on"] {
    background-color: hsla(340, 70%, 80%, 0.9);
  }
  & button.current {
    box-shadow: inset 0 0 1.5em white;
  }
}
.page-synth {
  .info {
    @apply --info;
  }

  & .buttons {
    flex-wrap: nowrap;
  }
  
}
.page-minim {
  & .minim {
    width: calc(var(--unit)*14);
  }
  & .buttons {
    flex-wrap: wrap;
  }
}




